@charset "utf-8";
/* CSS Document */

/*scroller*/


body {

	overflow-y: scroll;
	overflow-x: hidden;
}


.selecttable input[type="button"]{
	width:50px !important;
	height:20px !important ;
	background-color:#13b224;
	font:9px;
	padding:2px;
	
}

/* Let's get this party started */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(61, 61, 61, 1);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: rgba(26, 30, 28, 1);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(125, 125, 125, 1);
}

/* end scroller*/


@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}
@font-face {
	font-family: 'OratorStd';
	src: url('../fonts/OratorStd.otf');
	src: local('OratorStd'), url('../fonts/Orator Std Medium.ttf') format('truetype');
}


	
.titleback{
	background-color:#666;
	width:100%;
	}
	
.labelxx{
	padding-top:10px;
	padding-bottom:10px;
	}


	
#Accordion1 label{
	font-size:14px !important;
	font-family:'gothic';
	}
	
#Accordion1 label{
	font-family:'gothic' !important;
	}

#Accordion1 h1{
	font-size:36px;
	}
	



input, textarea, select{
	margin-bottom:10px;
	border:1px solid #906;
	width:300px;
	font-size:14px !important;
	}

input, select{
	height:30px;
	width:300px;
	}

.imgPhoto{
	border:1px solid #906;
	height:200px;
	width:200px;
	}

.imgSignature{
	border:1px solid #906;
	height:200px;
	width:200px;
}

input[type=radio], input.radio { 	height:15px;
									width:15px;
									margin-bottom: 10px;
									font-size:14px;
								}

input[type=checkbox], input.checkbox{ 	height:20px;
										width:20px;
										font-size:12px;
								}								
	
input[type=submit], [type=reset], [type="button"]{
	background-color:#62387a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Calibri;
	font-size:18px;
	height:40px !important;
	width:80px !important;
	text-decoration:none;
	text-shadow:0px 1px 17px #283966;
	border:none;
	}
	
input[type=submit], [type=reset], [type="button"]:hover{
	background-color:#807d80 !important;
	}
	
.add{
	height:30px !important;
	width:150px !important;
	background-color:#62387a;
}

.add:hover{
	background-color:#807d80;
}
	
/*table*/
table{
	font-size:14px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

/*blank table*/
.blanktable td{
	border-bottom: 0px !important;
	font-weight:bold;
}

.blanktable input{
	height:25px;
	width:100px;
	border:1px solid #666;
	text-align:right;
	}

.paymenttable input{
	height:25px;
	width:100px;
	border:1px 1px 1px 1px solid #666;
	text-align:right;
	}

.subjecttbl input, select{
	height:30px;
	width:300px;
}

/*submit area*/
.submitfooter{
	background:#333;
	color:#FFF;
	width:100%;
	height:40px;
	float:none;
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	}

